@use 'sass:math';
@use 'sass:color';

@function fadeout($color, $amount) {
	$alpha: 1 - math.div($amount, 100); // 计算目标透明度
	@return color.change($color, $alpha: $alpha);
}

// 主题色值变量
$color-primary: #7052ff;
$color-success: #67c23a;
$color-warning: #ff7038;
$color-danger: #fa2714;
$color-info: #b3b9c5;
$color-text-primary: #1d2129;
$color-text-regular: #4e596a;
$color-text-secondary: #86909d;
$color-text-placeholder: #c9cdd4;
$border-color-base: #f0f1f5;
$border-color-light: #f0f1f5;
$border-color-lighter: #f0f1f5;
$border-color-extra-light: #f0f1f5;
$color-white: #ffffff;
$color-black: #000000;
$background-color-base: #f7f8fa;

$color-parachrome: #f6f5fc;

// 布局变量
$menus-width: 132px;
$header-height: 64px;
$page-minWidth: 1366px;
