@use 'sass:list';

$flexDirArr: column, row;
$dirLen: list.length($flexDirArr);

@for $index from 1 through $dirLen {
	$val: list.nth($flexDirArr, $index);
	.flex-#{$val} {
		display: flex;
		flex-direction: $val;
	}
}

$flexAlignClassArr: start, center, end;
$flexAlignCssArr: flex-start, center, flex-end;
$flexAlignLen: list.length($flexAlignClassArr);

@for $index from 1 through $flexAlignLen {
	$classVal: list.nth($flexAlignClassArr, $index);
	$cssVal: list.nth($flexAlignCssArr, $index);
	.flex-align-#{$classVal} {
		align-items: $cssVal !important;
	}
}

$flexJustClassArr: start, center, end, around, between;
$flexJustCssArr: flex-start, center, flex-end, space-around, space-between;
$flexJustLen: list.length($flexJustClassArr);

@for $index from 1 through $flexJustLen {
	$classVal: list.nth($flexJustClassArr, $index);
	$cssVal: list.nth($flexJustCssArr, $index);
	.flex-just-#{$classVal} {
		justify-content: $cssVal !important;
	}
}

$ellipsisLineMax: 4;

@for $index from 1 through $ellipsisLineMax {
	.flex-#{$index} {
		flex: $index !important;
	}
}

.flex-row-align-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-row-center-between {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

$flexMax: 4;

@for $index from 1 through $flexMax {
	.flex-#{$index} {
		flex: $index !important;
	}
}

.flex-wrap {
	flex-wrap: wrap !important;
}
