@charset "UTF-8";
html,
body {
  height: 100%;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
dt,
dd,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
u,
b,
i {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: normal;
}

:focus {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

input,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

input,
textarea {
  color: #2475ff !important;
  text-shadow: 0 0 0 #1d2129;
  -webkit-text-fill-color: transparent;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #86909d;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

a {
  text-decoration: none;
}

ul {
  zoom: 1;
  *zoom: 1;
  _zoom: 1;
  list-style: none;
}

img {
  border: 0px;
  max-width: 100%;
  vertical-align: middle;
}

select {
  font-family: Trebuchet MS;
} /*select垂直居中*/
.el-tooltip__popper.is-light {
  box-shadow: 0px 2px 8px 0px rgba(200, 201, 204, 0.5) !important;
  border: 1px solid #e0e0e0 !important;
}

.el-tooltip__popper.is-light[x-placement^="top"] .popper__arrow {
  border-top-color: #e0e0e0 !important;
}

.el-tooltip__popper.is-light[x-placement^="left"] .popper__arrow {
  border-left-color: #e0e0e0 !important;
}

.el-tooltip__popper.is-light[x-placement^="bottom"] .popper__arrow {
  border-bottom-color: #e0e0e0 !important;
}

.el-tooltip__popper.is-light[x-placement^="right"] .popper__arrow {
  border-right-color: #e0e0e0 !important;
}

.el-dialog__wrapper .el-dialog__header {
  border-bottom: 1px solid #eaebf0;
  padding-bottom: 20px;
}

.el-dialog__title {
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #1d2129;
}

.el-dialog__body {
  padding: 16px !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align-start {
  align-items: flex-start !important;
}

.flex-align-center {
  align-items: center !important;
}

.flex-align-end {
  align-items: flex-end !important;
}

.flex-just-start {
  justify-content: flex-start !important;
}

.flex-just-center {
  justify-content: center !important;
}

.flex-just-end {
  justify-content: flex-end !important;
}

.flex-just-around {
  justify-content: space-around !important;
}

.flex-just-between {
  justify-content: space-between !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}

.flex-4 {
  flex: 4 !important;
}

.flex-row-align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-center-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}

.flex-4 {
  flex: 4 !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.m-12 {
  margin: 12px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.p-12 {
  padding: 12px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pl-12 {
  padding-left: 12px !important;
}

.m-10 {
  margin: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.m-8 {
  margin: 8px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.p-8 {
  padding: 8px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.m-6 {
  margin: 6px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.mr-6 {
  margin-right: 6px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.ml-6 {
  margin-left: 6px !important;
}

.p-6 {
  padding: 6px !important;
}

.pt-6 {
  padding-top: 6px !important;
}

.pr-6 {
  padding-right: 6px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.pl-6 {
  padding-left: 6px !important;
}

.m-4 {
  margin: 4px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.p-4 {
  padding: 4px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pl-4 {
  padding-left: 4px !important;
}

.m-2 {
  margin: 2px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

.p-2 {
  padding: 2px !important;
}

.pt-2 {
  padding-top: 2px !important;
}

.pr-2 {
  padding-right: 2px !important;
}

.pb-2 {
  padding-bottom: 2px !important;
}

.pl-2 {
  padding-left: 2px !important;
}

.m-32 {
  margin: 32px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.p-32 {
  padding: 32px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pr-32 {
  padding-right: 32px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.m-28 {
  margin: 28px !important;
}

.mt-28 {
  margin-top: 28px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

.p-28 {
  padding: 28px !important;
}

.pt-28 {
  padding-top: 28px !important;
}

.pr-28 {
  padding-right: 28px !important;
}

.pb-28 {
  padding-bottom: 28px !important;
}

.pl-28 {
  padding-left: 28px !important;
}

.m-24 {
  margin: 24px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.p-24 {
  padding: 24px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.m-20 {
  margin: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.m-16 {
  margin: 16px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.p-16 {
  padding: 16px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

/*                        颜色变量                          */
/* 字体 */
.font-h1-regular {
  font-size: 20px;
  line-height: 28px;
  font-family: PingFangSC-Regular !important;
}

.font-h1-medium {
  font-size: 20px;
  line-height: 28px;
  font-family: PingFangSC-Medium !important;
}

.font-h2-regular {
  font-size: 18px;
  line-height: 24px;
  font-family: PingFangSC-Regular !important;
}

.font-h2-medium {
  font-size: 18px;
  line-height: 24px;
  font-family: PingFangSC-Medium !important;
}

.font-h3-regular {
  font-size: 16px;
  line-height: 24px;
  font-family: PingFangSC-Regular !important;
}

.font-h3-medium {
  font-size: 16px;
  line-height: 24px;
  font-family: PingFangSC-Medium !important;
}

.font-h4-regular {
  font-size: 14px;
  line-height: 24px;
  font-family: PingFangSC-Regular !important;
}

.font-h4-medium {
  font-size: 14px;
  line-height: 24px;
  font-family: PingFangSC-Medium !important;
}

.font-h5-regular {
  font-size: 13px;
  line-height: 22px;
  font-family: PingFangSC-Regular !important;
}

.font-h5-medium {
  font-size: 13px;
  line-height: 22px;
  font-family: PingFangSC-Medium !important;
}

.font-h6-regular {
  font-size: 12px;
  line-height: 20px;
  font-family: PingFangSC-Regular !important;
}

.font-h6-medium {
  font-size: 12px;
  line-height: 20px;
  font-family: PingFangSC-Medium !important;
}

/* 文本超出隐藏 */
.line-ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-ellipsis-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.line-ellipsis {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

/* 手势 */
.cursor-pointer {
  cursor: pointer;
}

/* 文本对齐方式 */
.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

/* 字体 */
.yx-pingfang-semibold {
  font-family: PingFangSC-Semibold !important;
}

.yx-pingfang-regular {
  font-family: PingFangSC-Regular !important;
}

.yx-pingfang-Medium {
  font-family: PingFangSC-Medium, PingFang SC;
}

.DIN {
  font-family: DINAlternate-Bold !important;
}

.Barlow-Bold {
  font-family: Barlow-Bold !important;
}

.Barlow-SemiBold {
  font-family: Barlow-SemiBold !important;
}

.Barlow-Medium {
  font-family: Barlow-Medium !important;
}

/* 边框 */
.yx-border {
  border: 1px solid #f0f1f5;
}

.yx-border-top {
  border-top: 1px solid #f0f1f5;
}

.yx-border-right {
  border-top: 1px solid #f0f1f5;
}

.yx-border-bottom {
  border-bottom: 1px solid #f0f1f5;
}

.yx-border-left {
  border-left: 1px solid #f0f1f5;
}

/* 定位 */
.pos-rela {
  position: relative !important;
}

.pos-abso {
  position: absolute !important;
}

.pos-fix {
  position: fixed !important;
}

.pos-fix-top {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.pos-fix-bottom {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
}

/* 圆角 */
.radius-2 {
  border-radius: 2px;
}

.radius-4 {
  border-radius: 4px;
}

.radius-6 {
  border-radius: 6px;
}

.radius-8 {
  border-radius: 8px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-12 {
  border-radius: 12px;
}

.radius-14 {
  border-radius: 14px;
}

.radius-16 {
  border-radius: 16px;
}

.radius-18 {
  border-radius: 18px;
}

.radius-20 {
  border-radius: 20px;
}

.radius-22 {
  border-radius: 22px;
}

.radius-24 {
  border-radius: 24px;
}

.radius-50 {
  border-radius: 50%;
}

/* 其他 */
.status-icon {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.status-icon.status-success {
  background-color: #67c23a;
}
.status-icon.status-warning {
  background-color: #ff7038;
}
.status-icon.status-error {
  background-color: #fa2714;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}

.main-content-padding {
  box-sizing: border-box;
  padding: 16px 16px 0 16px;
}

.redStar::before {
  content: "*";
  color: red;
  font-size: 14px;
}

.yx-background {
  background-color: #f7f8fa !important;
}

.yx-background-white {
  background-color: #ffffff;
}

.form-flex.el-form {
  display: flex;
  flex-wrap: wrap;
}
.form-flex.el-form .el-form-item {
  display: flex;
  padding-right: 30px;
}
.form-flex.el-form .el-form-item.flex-end {
  flex: 1;
  justify-content: flex-end;
}

.yx-form-wrap .el-form .el-input,
.yx-form-wrap .el-form .el-select,
.yx-form-wrap .el-form .el-date-editor {
  width: 240px;
}
.yx-form-wrap .scope-input {
  display: flex;
  align-items: center;
}
.yx-form-wrap .scope-input .el-input {
  width: 105px;
}
.yx-form-wrap .scope-input .flag {
  font-size: 14px;
  color: #1d2129;
  padding: 0 8px;
}

.width100 {
  width: 100% !important;
}

a.link {
  cursor: pointer;
  color: #1d2129;
}
a.link:hover {
  color: #7052ff;
  text-decoration: underline;
}
a.link-no-underline {
  cursor: pointer;
  color: #1d2129;
}
a.link-no-underline:hover {
  color: #7052ff;
}

.hover:hover {
  color: #7052ff !important;
}

.tab-btn {
  padding-bottom: 4px;
  text-align: left;
}

.product_box,
.user_info_box {
  padding: 10px;
  background-color: #f7f8fa;
  border-radius: 2px;
}

.pre-wrap {
  white-space: pre-wrap !important;
}

.nowrap {
  white-space: nowrap !important;
}

.role-label {
  height: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-size: 12px;
  padding: 0 2px;
  color: #7052ff;
  width: auto;
  background-color: rgba(112, 82, 255, 0.1);
}

/* 字号 */
.fz-12 {
  font-size: 12px !important;
}

.fz-13 {
  font-size: 13px !important;
}

.fz-14 {
  font-size: 14px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-18 {
  font-size: 18px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.fz-24 {
  font-size: 24px !important;
}

.fz-26 {
  font-size: 26px !important;
}

.fz-28 {
  font-size: 28px !important;
}

.fz-36 {
  font-size: 36px !important;
}

/* 其他样式 */
.el-checkbox__inner {
  border: 1px solid #e2e3e8 !important;
}

.table-row {
  font-size: 14px;
}

.el-tabs--card > .el-tabs__header {
  margin: 0;
}

.el-tooltip__popper {
  max-width: 800px;
}

.dialog-content {
  width: 100%;
  max-height: 625px;
  overflow-y: auto;
  box-sizing: border-box;
}

.gray-bg {
  background-color: #f0f1f5;
}

.white-bg {
  background-color: #fff;
}

.special-pwd input {
  color: red;
  font-family: "text-security-disc";
  -webkit-text-security: disc;
}

.table-small thead .cell {
  font-size: 12px !important;
  color: #86909d !important;
}
.table-small thead th {
  font-weight: 400 !important;
}
.table-small .cell {
  font-size: 12px;
  color: #1d2129;
}

.drawer-template .el-drawer__body {
  padding: 24px 24px 53px !important;
}
.drawer-template .el-drawer__body::-webkit-scrollbar {
  width: 6px;
}
.drawer-template .el-drawer__body::-webkit-scrollbar-thumb {
  height: 26px;
  border-radius: 3px;
  background-color: #f0f1f5;
}
.drawer-template .drawer-footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #f0f1f5;
  background-color: #fff;
  z-index: 5;
}

.comingSoon {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.comingSoon .panel-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.comingSoon .emptySPBox {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
